html,
body {
    width: 100%;
    padding: 0;
    margin: 0
}

body {
    font: 14px/25px Condiment, Oxygen, sans-serif;
    color: #000000;
    min-width: 960px;
    background: #000000
}

.main {
    width: 100%;
    background: url(../images/main.jpg) center 0 repeat;
    border-top: #000000 5px solid
}