html,
body {
    width: 100%;
    padding: 0;
    margin: 0
}

body {
    font: 14px/25px Condiment, Oxygen, sans-serif;
    color: black;
    min-width: 960px;
    background: black;
}

.main {
    width: 100%;
    background: url(../images/main.jpg) center 0 repeat;
    border-top: black 5px solid
}

/*
 * Media Queries
 */
@media screen and (max-width: 600px) {

}

@media screen and (min-width: 601px) and (max-width: 992px) {

}

@media screen and (min-width: 993px) {

}